

{% extends 'layout.html' %}
{% block content %}

<h1>Contact</h1>

<p>You are welcome to send me an email using the form below:</p>

	<form action="/contact/" class="form-horizontal" method="post" role="form">

    {% csrf_token %}

    {{ form.as_p }}

    <!-- <p> -->
    <!--   <input type="submit" value="Submit" class="btn btn-default"> -->
    <!-- </p> -->

    <p>
      <button class="g-recaptcha btn btn-default"
          data-sitekey="6Le5qTkpAAAAAAMwNhNrNtkSN5klQ4TYS3S0mIiU"
          data-callback='onSubmit'
          data-action='submit'>Submit</button>
    </p>



	</form>

<script src="https://www.google.com/recaptcha/api.js"></script>
 <script>
   function onSubmit(token) {
     document.getElementById("demo-form").submit();
   }
 </script>


{% endblock content %}
