
<ul class="list-group">
    
    <li class="list-group-item" id="top-nav-menu-item">
        <a {% if page == 'about' %} id="focal" {% endif %} 
            href="{% url 'page' 'about' %}">About</a>
	</li>
    
    <li class="list-group-item">
        <a {% if page == 'start' %} id="focal" {% endif %} 
            href="{% url 'page' 'start' %}">Quick Start</a>
	</li>
    
    <li class="list-group-item">
        <a {% if page == 'why' %} id="focal" {% endif %} 
            href="{% url 'page' 'why' %}">Why Sit</a>
	</li>
    
    <li class="list-group-item">
        <a {% if page == 'comfort' %} id="focal" {% endif %} 
            href="{% url 'page' 'comfort' %}">Comfort</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'legs' %} id="focal" {% endif %} 
            href="{% url 'page' 'legs' %}">Legs</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'hands' %} id="focal" {% endif %} 
            href="{% url 'page' 'hands' %}">Hands</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'back' %} id="focal" {% endif %} 
            href="{% url 'page' 'back' %}">Back</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'chest' %} id="focal" {% endif %} 
            href="{% url 'page' 'chest' %}">Chest</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'shoulders' %} id="focal" {% endif %} 
            href="{% url 'page' 'shoulders' %}">Shoulders</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'head' %} id="focal" {% endif %} 
            href="{% url 'page' 'head' %}">Head</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'exercises' %} id="focal" {% endif %} 
            href="{% url 'page' 'exercises' %}">Exercises</a>
	</li>
 
    <li class="list-group-item">
		<a {% if page == 'sources' %} id="focal" {% endif %} 
            href="{% url 'page' 'sources' %}">Sources</a>
    </li>

    <li class="list-group-item" id="bottom-nav-menu-item">
		<a {% if page == 'contact' %} id="focal" {% endif %} 
            href="{% url 'page' 'contact' %}">Contact</a>
    </li>
</ul>
