
<ul class="list-group">
    
    <li class="list-group-item" id="top-nav-menu-item">
		<a {% if page == 'about' %} id="focal" {% endif %} href="/about">About</a>
	</li>
    
    <li class="list-group-item">
        <a {% if page == 'start' %} id="focal" {% endif %} href="/start">Quick Start</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'why' %} id="focal" {% endif %} href="/why">Why Sit</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'comfort' %} id="focal" {% endif %} href="/comfort">Comfort</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'legs' %} id="focal" {% endif %} href="/legs">Legs</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'hands' %} id="focal" {% endif %} href="/hands">Hands</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'back' %} id="focal" {% endif %} href="/back">Back</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'chest' %} id="focal" {% endif %} href="/chest">Chest</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'shoulders' %} id="focal" {% endif %} href="/shoulders">Shoulders</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'head' %} id="focal" {% endif %} href="/head">Head</a>
	</li>
    
    <li class="list-group-item">
		<a {% if page == 'exercises' %} id="focal" {% endif %} href="/exercises">Exercises</a>
	</li>
 
    <li class="list-group-item">
		<a {% if page == 'sources' %} id="focal" {% endif %} href="/sources">Sources</a>
    </li>

    <li class="list-group-item" id="bottom-nav-menu-item">
		<a {% if page == 'contact' %} id="focal" {% endif %} href="/contact">Contact</a>
    </li>
</ul>
