@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('/static/styles/colors.css');

/*------------------------------------------------
base font size
------------------------------------------------*/

html {
  font-size: 17px;
}

/*------------------------------------------------
body and links
------------------------------------------------*/

body {
  /* background: linear-gradient(180deg, var(--stone-200) 0%, var(--stone-50) 60%); */
  background: var(--stone-200);
	color: var(--stone-800);
	font-family: 'Open Sans', sans-serif;
  padding-bottom: 2.5rem;
}

a, a:visited {
  color: var(--lime-800);
  outline: none;
	text-decoration: none;
}

a:hover {
	color: var(--lime-600);
	text-decoration: none;
}

strong {
	font-weight: 600;
}


/*------------------------------------------------
title navbar
------------------------------------------------*/

.navbar-title {
  /* background: linear-gradient(to right, var(--stone-200), var(--stone-50)); */
  background: var(--stone-200);
  /* border-bottom: solid 1px var(--stone-400); */
	font-size: 1.2rem;
  padding: 1rem 0;
  /* position: sticky; */
  top: 0;
  width: 100%;
  z-index: 1000;
}

.title-link {
}

.navbar-title a {
  color: var(--stone-800);
  text-decoration: none;
}

.navbar-title a:hover {
  color: var(--stone-900);
}


/*------------------------------------------------
layout
------------------------------------------------*/

.content {
  /* margin-top: 0.5rem; */
}

.row {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.col-sm-2, .col-sm-3, .col-sm4,
.col-sm-8, .col-sm-9, .col-sm-10,.col-sm-11,.col-sm-12{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.panel-background {
  background: var(--stone-50);
  border-radius: 5px;
  margin-bottom: 1rem;
	padding: 1rem;
}


/*------------------------------------------------
typography
------------------------------------------------*/

h1 {
	color: var(--stone-900);
	font-size: 1.3rem;
	margin:0;
  margin-bottom: 1.13rem;
	padding: 0;
}

h2 {
	color: var(--stone-800);
	font-size: 1.2rem;
	margin: 1.5rem 0 1.13rem 0.63rem;
	padding: 0;
}

h3 {
	color: var(--stone-800);
	font-size: 1.1rem;
	margin:0;
  margin-left: 0.31rem;
	padding: 0;
}

p {
	font-size: 1rem;
  margin: 0 1.25rem 1.25rem 1.25rem;
	text-align: justify;
}

p a {
  font-weight: 600;
  text-decoration: underline;
}

blockquote {
  border: none;
  color: var(--stone-700);
  font-style: italic;
  margin: 1.25rem 6.25rem 1.25rem 4.38rem;
  padding: 0;
	text-align: justify;
}

@media (max-width: 768px) {
  blockquote {
    margin-left: 2.5rem;
    margin-right: 1.88rem;
    text-align: center;
  }
}

.page-standard {
 height: auto;
 margin: 1.88rem auto 0 auto;
}

.content ul {
  margin-left: 0.94rem;
  margin-top: -0.63rem;
}

.content ol {
  margin-left: 0.94rem;
  margin-top: -0.63rem;
}

.content li {
	color: var(--stone-800);
	font-size: 1rem;
	padding: 0.63rem 0.94rem;
}


/*------------------------------------------------
navigation
------------------------------------------------*/

.nav .panel-background {
  padding: 0.5rem 1rem;
}

.nav .list-group-item {
  background: none;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 0;
}

.nav .top-nav-menu-item {
  margin-top: 0;
	padding-top: 0;
}

.nav .bottom-nav-menu-item {
  margin-bottom: 0;
	padding-bottom: 0;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav ul li a {
	margin: 0;
	padding: 0;
}

.center-image {
  text-align: center;
}

.caption{
  color: var(--stone-700);
  font-size: 0.9rem;
	font-weight: 600;
  margin-bottom: 1.25rem;
  margin-top: 0.44rem;
  text-align: center;
}

#focal {
  font-weight: 600;
}

@media (max-width: 768px) {
  .nav ul li {
    margin-bottom: 1.88rem;
    text-align: center;
  }
}

/*------------------------------------------------
sources
------------------------------------------------*/

.sources {
  margin-left: 1.25rem;
  padding: 0;
}


/*------------------------------------------------
contact
------------------------------------------------*/

input, label {
    display:block;
}

label {
  color: var(--stone-800);
  font-weight: normal;
}

input, textarea {
  border: solid 1px #d4d4d4;
  border-radius: 0.19rem;
  padding: 0.31rem;
}

#id_name {
  max-width: 25rem;
  width: 100%;
}

#id_email {
  max-width: 25rem;
  width: 100%;
}

#id_subject {
  max-width: 43.75rem;
  width: 100%;
}

textarea {
  max-width: 43.75rem;
  width: 100%;
}

.btn-default {
	/* background: #b7b7b72b; */
  /* color: #355900; */
  background: var(--lime-800);
  border: solid 1px var(--lime-800);
  color: var(--stone-50);
  font-size: 1rem;
}

input:focus-visible {
    border-radius: 0.19rem;
    outline: 1px solid var(--lime-600);
}

textarea:focus-visible {
    border-radius: 0.19rem;
    outline: 1px solid var(--lime-600);
}

